{% extends "base.html" %} 

{% block titulo %} Compra de criptomonedas {% endblock %}

{% block contenido%}
    <div class="compra-cabecera">
        <h1> COMPRA DE CRIPTOMONEDAS</h1>
    </div>    

    <form action="" method="post">
        {{formulario.hidden_tag()}}
        <div class="grid">
            {{formulario.moneda_from.label()}}
            {{formulario.moneda_from()}}
            {% if formulario.moneda_from.errors %}
                {% for error in formulario.moneda_from.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %} 
            

            {{formulario.moneda_to.label()}}
            {{formulario.moneda_to()}}
            {% if formulario.moneda_to.errors %}
                {% for error in formulario.moneda_to.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
               

        <div class="grid">
            
                {{formulario.cantidad_from.label()}}
                {{formulario.cantidad_from()}}
                {% if formulario.cantidad_from.errors %}
                {% for error in formulario.cantidad_from.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %}

                        
            
            <div class="boton-calcular">
            
                {{formulario.calcular()}}
            
            </div>
                {{formulario.cantidad_convertida.label()}}
                {% if formulario.cantidad_convertida.data  %}
                    {{formulario.cantidad_convertida.data}}
                {% else %}                    
                    0.0
                {% endif %}
                {{formulario.cantidad_convertida_h()}}
            
            
        </div>

        <div class="grid">
                {{formulario.pu.label()}}
                {% if formulario.pu.data  %}
                    {{formulario.pu.data}}
                {% else %}                    
                    0.0
                {% endif %}
                
                
                {{formulario.pu_h()}}
        </div>

       
        

        

        
        
        
        <div class="grid">
            <a href="/" role="button" class="secondary">Cancelar</a>
            {{formulario.comprar()}}
            
        </div>

    </form>
{% endblock %}    