{% extends "base.html" %} 

{% block titulo %} Compra de criptomonedas {% endblock %}

{% block contenido%}
    <div class="compra-cabecera">
        <h1> COMPRA DE CRIPTOMONEDAS</h1>
    </div>    

    <form action="" method="post">
        {{formulario.hidden_tag()}}
        <div class="grid">
            {{formulario.moneda_from.label()}}
            {{formulario.moneda_from()}}
            {{formulario.moneda_from_h()}}
            {% if formulario.moneda_from.errors %}
                {% for error in formulario.moneda_from.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %} 
            

            {{formulario.moneda_to.label()}}
            {{formulario.moneda_to()}}
            {{formulario.moneda_to_h()}}
            {% if formulario.moneda_to.errors %}
                {% for error in formulario.moneda_to.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
               

        <div class="grid">
                <div class="cantidad-from-label">
                    {{formulario.cantidad_from.label()}}
                </div>
                <div class="cantidad-from">
                    {{formulario.cantidad_from()}}
                </div>
                {% if formulario.cantidad_from.errors %}
                {% for error in formulario.cantidad_from.errors %}
                    <p class = "error">{{error}}</p>
                {% endfor %}
            {% endif %}

                        
            
                <div class="boton-calcular">
                
                    {{formulario.calcular()}}
                
                </div>
                <div class="cantidad-convertida-label">
                    {{formulario.cantidad_convertida.label()}}
                </div>
                <div class="cantidad-convertida">
                    {% if formulario.cantidad_convertida.data  %}
                        {{formulario.cantidad_convertida.data}}
                    {% else %}                    
                        0.0
                    {% endif %}
                    {{formulario.cantidad_convertida_h()}}
                </div>                    
            
        </div>

        <div class="container-pu">
                <div class="pu_label">
                    {{formulario.pu.label()}}
                </div>
                <div class="pu">
                    {% if formulario.pu.data  %}
                        {{formulario.pu.data}}
                    {% else %}                    
                        0.0
                    {% endif %}
                </div>
                
                {{formulario.pu_h()}}
        </div>

       
        

        

        
        
        
        <div class="boton-cancelar-comprar">
            <a href="/" role="button" class="secondary">Cancelar</a>
            <div class="boton-comprar">
                {{formulario.comprar()}}
            </div>
            
            
        </div>

    </form>
{% endblock %}    