{% extends "base.html" %} 

{% block titulo %} Movimientos {% endblock %}

{% block contenido %}
    <div class="movimientos-cabecera">
        <h1> MOVIMIENTOS</h1>
    </div>
    <p class="boton">
        
    </p>
    <table role="grid">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda From</th>
            <th>Cantidad From</th>
            <th>Moneda to</th>
            <th>Cantidad to</th>
            <th>P.U</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{movimiento[1]}}</td>
            <td>{{movimiento[2]}}</td>
            <td>{{movimiento[3]}}</td>
            <td>{{movimiento[4]}}</td>
            <td>{{movimiento[5]}}</td>
            <td>{{"{:,.5f}".format(movimiento[6])}}</td>
            <td>{{"{:,.5f}".format(movimiento[4]/movimiento[6])}}</td>
            
        </tr>
        {% endfor %}
    </table>
    <div class="movimiento">
        {%if movimientos == '' %} 
            SIN MOVIMIENTOS
        {% endif %}    
    </div>
    
    <div class="container">
        <a href="/estado" role="button" class="outline">Estado</a>
        
        <a href="/compra" role="button" class="boton-mas"></a>
        
    </div>  
{% endblock %}