{% extends "base.html" %} 

{% block titulo %} Movimientos {% endblock %}

{% block contenido %}
    <h1> MOVIMIENTOS</h1>
    <p class="boton">
        
    </p>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
        </tr>
        <tr>

        </tr>
    </table>
    <div class="movimiento">SIN MOVIMIENTOS</div>
    
    <div class="container">
        <a href="#" role="button" class="outline">Status</a>
        <a href="#" role="button" class="outline">+</a>
    </div>  
{% endblock %}